<!DOCTYPE html>
<html lang = "en" />
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>HOME PAGE BY GOLANG</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <link rel="stylesheet" type="text/css" href="../assets/css/main.css" />
    </head>
    <body>
        {{template "header"}}
        <section>
            <h1> List of playlist on my Youtube Channel are: </h1>
            <ol> 
                <li>Anroid Program with Java</li>
                <li>Anroid Program with Kotlin</li>
                <li> Golang Program </li>
                <li> Javascript ES6 Programming </li>
                <li> Nodejs Program </li>
                <li> MongoDb </li>
            </ol>
        </section>

        
        <script src="" async defer></script>
    </body>
</html>